@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1 class="text-primary">@ViewData["Title"]</h1>
    <p class="lead">This page explains how we handle your data and privacy.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis lorem ut libero malesuada feugiat.</p>
</div>
